$font-family-2: 'Jost', sans-serif;

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

// .test {
// 	color: #45566c - #f0d37b - #55647c;
// }

$primary: #ffd25b;

a {
    color: $primary;
}

.slide-one-item .slide blockquote:before {
    color: $primary;
}

.site-blocks-cover {
    background-color: $primary;
}

b{
    color: $primary;
}